modLoader = "javafml"
loaderVersion = "${loader_version_range}"
license = "${mod_license}
logoFile="inventorypurse_logo.png"

[[mods]]
modId = "${mod_id}"
version = "${mod_version}"
displayName = "${mod_name}"
displayURL = "https://x.com/Shake_1227"
authors = "${mod_authors}"
description = '''This mod limits the player's usable inventory and adds items that expand the inventory.

Texture Designer: Chore(@chore_3)'''

[[dependencies."${mod_id}"]]
modId = "forge"
mandatory = true
versionRange = "${forge_version_range}"
ordering = "NONE"
side = "BOTH"

[[dependencies."${mod_id}"]]
modId = "minecraft"
mandatory = true
versionRange = "${minecraft_version_range}"
ordering = "NONE"
side = "BOTH"